body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/* Stylings for Header Container */
.signup-top-container-content {
    width: 100%;
    height: 5em;
    background-color: rgb(17, 0, 63);
    cursor: pointer;
}

.signup-top-container-content p {
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    font-family: Inter;
    text-align: center;
    position: relative;
    top: 2.4em;
    margin-right: 1em;
}

.top-container-arrow-link {
    position: relative;
    right: 4.4em;
    top: 1em;
    float: right;
    text-decoration: none;
}

.top-container-arrow-link::after {
    content: '';
    float: right;
    border-style: solid;
    border-width: 7px 0 7px 13px; /* Adjust the size of the arrow */
    border-color: transparent transparent transparent #ffffff;
}

.signup-nav-container {
    width: 100%;
    height: 5.1em;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.signup-nav-container img {
    height: 4em;
    width: auto;
    position: relative;
    left: 2.6em;
    top: 0.3em;
}

/* Stylings for Header Container Links */
.signup-nav-links {
    display: flex;
    float: right;
    margin-right: 2.6em;
    position: relative;
    top: -2em;
    font-size: 0.9em;
    font-weight: 800;
    font-family: Inter;
    color: rgb(17, 0, 63);
}

.signup-nav-links p {
    padding: 0 1.4em;
}

.signup-nav-links p span {
    color: rgb(11, 11, 255);
}

.signup-nav-links p span:hover {
    color: rgb(17, 0, 63);
}

/* Stylings for Form Body Section */
.signup-form-body {
    position: relative;
    left: 30em;
    top: 1.8em;
}

.form-label {
    color: rgb(17, 0, 63);
    font-size: 1em;
    font-family: Inter;
    font-weight: 600;
}

.form-input {
    border: none;
    outline: none;
    margin-top: 1.1em;
    margin-bottom: 1em;
    font-family: Inter;
}

.form-hr {
    width: 29%;
    border-color: rgba(236, 236, 236, 0.336);
}

.form-submit-button {
    margin-top: 2.7em;
    width: 29%;
    padding: 1.1em 10.7em;
    color:#ffffff;
    background-color: rgb(80, 98, 255);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.form-submit-button:hover {
    background-color: rgb(17, 0, 63);
}

.form-submit {
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

form p {
    font-size: 0.8em;
    font-family: Inter;
    margin-left: 11.1em;
    margin-top: 1.8em
}

.log-in-text {
    font-family: Inter;
    font-size: 0.8em;
    color: rgb(74, 75, 82);
    margin-top: 5.2em;
    margin-left: 3.9em;
}

.log-in-text a {
    text-decoration: underline;
}

.signup-footer {
    width: 100%;
    height: 9em;
}

.signup-footer-copyright-info {
    color:rgb(153, 153, 153);
    font-size: 0.8em;
    font-family: Inter;
    position: relative;
    top: 7.4em;
    left: 0.7em;
}

.signup-footer-links {
    display: flex;
    color: rgb(17, 0, 63);
    font-size: 0.8em;
    margin-left: 25.8em;
    margin-top: 6.2em;
    font-family: Inter;
}

.signup-footer-links p {
    margin: 0 0.8em;
}


.signup-footer-social-media-icons {
    text-align: center;
    position: relative;
    left: 2.5em;
    top: -0.9em;
    font-size: 1.3em;
    color:rgb(17, 0, 63);
}


.signup-footer-social-media-icons a {
    margin: 0 0.4em;
}

.signup-footer-social-media-icons a:hover {
    color:rgb(48, 0, 180);
}


/* Media Queries For Mobile Screens */
@media (max-width: 500px) {

.signup-top-container-content {
    display: none;
}
.signup-nav-container img {
    display: none;
  }

/* Stylings for Header Container Links */
.signup-nav-links {
    margin-right: 2.8em;
    position: relative;
    top: 2.3em;
    font-size: 0.9em;
}

/* Stylings for Form Body Section */
.signup-form-body {
    left: 4em;
    top: 4em;
}


.signup-footer {
    display: none;
}

.form-hr {
    width: 74%;
}

.form-submit-button {
    margin-top: 4.5em;
    padding: 1.1em 12.1em;
    border-radius: 0.5em;
}

.form-submit-button > input {
    position: relative;
    left: -1.5em;
}

form p {
    font-size: 0.8em;
    font-family: Inter;
    margin-left: 11.1em;
    margin-top: 1.8em
}

.log-in-text {
    margin-top: 6em;
}

.log-in-text a {
    text-decoration: underline;
}

}